@use "../css/mixins.scss" as *;

.quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: var(--side-padding);
    gap: 8px;
    min-height: 0; // prevents overflow!

    .button-menu {
      max-width: var(--max-quiz-settings-width);
    }

    &__qty {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 12px;
      width: 100%;
      max-width: var(--max-quiz-settings-width);

      border-radius: var(--box-radius);
      background: var(--background-overlay);

      .btn {
        flex-grow: unset;
        border: unset;
        border-radius: 50%;

        svg {
          width: 32px;
          height: 32px;
        }
      }

      &__desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        gap: 4px;
        padding-bottom: 2px;

        span {
          color: var(--accent-input);

          &:first-child {
            font-size: 30px;
            font-weight: 700;
          }
          &:last-child {
            font-size: 14px;
            text-transform: lowercase;
          }
        }
      }
    }

    &__progress-stats {
      display: flex;
      gap: 20px;
      padding: 0 8px;
    }

    &__word {
      @include scrollbar-mixin;
      overflow-y: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex: 1;
      gap: 4px;
    }

    &__action-buttons {
      display: flex;
      width: 100%;
      gap: 12px;
    }
  }

  &__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 var(--side-padding) var(--side-padding);
    gap: var(--quiz-bottom-gap);

    .morse-keys,
    .btn--large {
      width: 100%;
    }
  }
}

.quiz-instructions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 0 40px;

  font-size: 14px;
  color: rgba(var(--text-rgb), 0.6);
  text-align: center;
  line-height: 1.5;
}

.quiz-done-stats {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
  gap: 12px;
  padding: 0 12px;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    flex: 1;

    span {
      &:first-child {
        font-size: 40px;
        font-weight: 700;
      }
      &:last-child {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
  }
}
