.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 10px;
  padding: var(--modal-padding);

  button {
    display: flex;
    align-items: center;
    gap: 14px;

    font-size: 18px;

    svg {
      width: 28px;
      height: 28px;
    }

    &.header__menu-btn {
      color: var(--K200);
      text-transform: uppercase;
      font-weight: 700;

      svg {
        fill: var(--K200);
      }

      &:hover {
        color: var(--accent);

        svg {
          fill: var(--accent);
        }
      }
    }

    &.header__right-btn {
      justify-content: space-between;
      gap: 10px;
      color: var(--K600);
      font-size: 14px;
      font-weight: 600;

      &--settings {
        flex: 1;

        .header-diff {
          font-size: 18px;
          font-weight: 400;
          color: var(--K700);
          text-transform: uppercase;
        }
      }
      &--shortcuts {
        margin-left: 16px;
      }

      svg {
        fill: var(--K600);
      }

      &:hover {
        &,
        span {
          color: var(--accent);
        }

        svg {
          fill: var(--accent);
        }
      }
    }
  }
}
