.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  padding: var(--modal-padding);

  button {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 32px;
      height: 32px;
    }
  }

  &__menu-btn {
    gap: 12px;

    font-size: 20px;
    font-weight: 800;
    fill: var(--K400);

    svg {
      fill: var(--K200);
    }

    &:hover svg {
      fill: var(--accent);
    }
  }

  &__settings-btn {
    gap: 10px;

    font-size: 14px;
    color: var(--K500);
    font-weight: 700;

    svg {
      fill: var(--K500);
    }

    &:hover svg {
      fill: var(--accent);
    }
  }
}
