.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--modal-padding);
  flex: 1;
  gap: 30px;

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    padding-top: 20px;

    h3 {
      color: var(--K400);

      &,
      span {
        font-size: 36px;
        font-weight: 100;
        text-transform: uppercase;
      }
      span {
        color: var(--accent);
      }
    }

    span,
    a {
      font-size: 12px;
      font-weight: 600;
    }

    span {
      color: var(--K600);
    }
    a {
      color: var(--K300);

      &:hover {
        color: var(--link-hover);
      }
    }
  }

  &__settings {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    @media (max-height: 640px) {
      display: none;
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: 8px;
      max-width: 160px;

      div {
        display: flex;
        justify-content: space-between;

        span {
          font-size: 13px;

          &:first-child {
            color: var(--K400);
            font-weight: 500;
          }
          &:last-child {
            color: var(--K200);
            font-weight: 700;
          }
        }
      }
    }

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 42px;
      height: 100%;
      padding: 18px 0;

      border-radius: 8px;
      border: 2px solid var(--K800);

      span {
        font-size: 13px;
        writing-mode: vertical-rl;
        line-height: 24px;
        color: var(--K400);
        font-weight: 400;
        transform: rotate(180deg);
      }
      svg {
        width: 20px;
        height: 20px;
        fill: var(--K400);
      }

      &:hover {
        border-color: var(--K600);

        span {
          color: var(--K200);
        }
        svg {
          fill: var(--K200);
        }
      }
    }
  }

  .home-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--morse-key-height);
    gap: 10px;

    border-radius: calc(var(--morse-key-height) / 2);
    background: rgba(var(--accent-rgb), 0.9);
    box-shadow:
      inset 0 0 2px 2px rgba(var(--accent-light-rgb), 1),
      inset 0 0 30px rgba(var(--accent-light-rgb), 1),
      0 0 0 rgba(var(--accent-rgb), 0.2);

    svg {
      width: 38px;
      height: 38px;
      fill: rgba(var(--K950-rgb), 0.8);
      filter: drop-shadow(0 0 6px rgba(var(--accent-light-rgb), 0.8));
    }

    span {
      font-size: 20px;
      font-weight: 500;
      color: rgba(var(--K950-rgb), 0.8);
      text-shadow: 0 0 6px rgba(var(--accent-light-rgb), 0.6);
    }

    &:hover {
      background: var(--accent-light);
      box-shadow:
        inset 0 0 2px 2px rgba(var(--accent-light-rgb), 1),
        inset 0 0 30px rgba(var(--accent-light-rgb), 0.5),
        0 0 12px rgba(var(--accent-rgb), 0.7);
    }
  }
}
