.info {
  $details-col: rgba(var(--text-rgb), 0.9);

  display: flex;
  padding: var(--main-padding);
  gap: 16px;

  color: $details-col;
  line-height: 1.2;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

    &.flex {
      flex: 1;
    }
  }

  .setting-example {
    $height: 14px;

    display: flex;
    height: $height;

    border-radius: calc($height / 2);
    background: $details-col;

    &--dit {
      width: $height;
    }
    &--dah {
      width: calc($height * 3);
    }
  }
}
