.keyboard-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% + var(--side-padding) * 2 - 8px * 2);
  margin-bottom: calc(var(--side-padding) * -1 + 12px);
  max-width: 500px;
}

.keyboard {
  $gap-width: 4px;
  $key-width: calc((100% - $gap-width * 9) / 10);
  $key-width-special: calc((100% - $gap-width * 6) / 7);

  display: flex;
  flex-direction: column;
  gap: $gap-width;
  width: 100%;

  &__row {
    display: flex;
    justify-content: center;
    gap: $gap-width;
    width: 100%;

    .key {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      gap: $gap-width;
      padding: 0 $gap-width;

      border-radius: 4px;

      background: rgba(var(--background-overlay-rgb), 0.2);
      box-shadow:
        inset 0 1px 1px rgba(var(--text-rgb), 0.2),
        inset 1px 1px 30px rgba(var(--background-light-rgb), 0.4),
        -4px -4px 8px rgba(var(--background-light-rgb), 0.1),
        4px 4px 8px rgba(var(--background-overlay-hover-rgb), 0.2);

      &__letter {
        font-size: 22px;
        text-align: center;
        font-weight: 700;
        color: rgba(var(--white-rgb), 0.7);
      }
      .morse-char {
        min-height: calc(var(--dit-sm) * 2);
      }

      &:hover {
        .key__letter {
          color: rgba(var(--white-rgb), 1);
        }

        background: rgba(var(--background-light-rgb), 0.7);

        box-shadow:
          inset 0 1px 1px rgba(var(--text-rgb), 0.2),
          inset 4px 6px 30px rgba(var(--background-light-rgb), 0.7),
          -2px -2px 6px rgba(var(--background-light-rgb), 0.2),
          2px 2px 3px rgba(var(--background-overlay-hover-rgb), 0.1);
      }
    }

    .keyboard--regular & {
      .key {
        width: $key-width;
        aspect-ratio: 0.7;
      }

      &:nth-child(2) {
        margin-left: calc($key-width * -0.3);
      }
    }
    .keyboard--special-chars & {
      .key {
        width: $key-width-special;
        aspect-ratio: 1;
      }
    }
  }

  .app--mode-receive.app--hints-delayed &,
  .app--mode-receive.app--hints-off & {
    .keyboard__row .key .morse-char {
      display: none;
    }
  }
}
