.keyboard-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: calc(100% + var(--side-padding) * 2 - 8px * 2);
  margin-bottom: calc(var(--side-padding) * -1 + 12px);
  max-width: 500px;
}

.keyboard {
  $gap-width: 4px;
  $key-width: calc((100% - $gap-width * 9) / 10);
  $key-width-special: calc((100% - $gap-width * 6) / 7);

  display: flex;
  flex-direction: column;
  gap: $gap-width;
  width: 100%;

  &__row {
    display: flex;
    justify-content: center;
    gap: $gap-width;
    width: 100%;

    .key {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      gap: $gap-width;
      padding: 0 $gap-width;

      border-radius: 4px;
      background: var(--K850);

      &__letter {
        font-size: 22px;
        text-align: center;
        font-weight: 700;
      }
      .morse-char {
        min-height: calc(var(--dit-sm) * 2);
      }

      &:hover {
        color: var(--K100);
        background: var(--K700);
      }
    }

    .keyboard--regular & {
      .key {
        width: $key-width;
        aspect-ratio: 0.7;
      }

      &:nth-child(2) {
        margin-left: calc($key-width * -0.3);
      }
    }
    .keyboard--special-chars & {
      .key {
        width: $key-width-special;
        aspect-ratio: 1;
      }
    }
  }

  .app--mode-receive.app--hints-delayed &,
  .app--mode-receive.app--hints-none & {
    .keyboard__row .key .morse-char {
      display: none;
    }
  }
}
