.keyboard {
  $key-width: 34px;

  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px;

  &__row {
    display: flex;
    gap: 4px;

    &:nth-child(2) {
      padding-left: calc($key-width * 0.3);
    }
    &:nth-child(3) {
      padding-left: calc($key-width * 0.9);
    }

    .key {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      width: $key-width;
      height: calc($key-width * 1.6);
      gap: 4px;

      border-radius: 4px;
      background: var(--K850);

      &__letter {
        width: 14px;
        font-size: 22px;
        text-align: center;
        font-weight: 700;
      }

      &:hover {
        color: var(--K100);
        background: var(--K700);
      }
    }
  }

  .app--mode-decode.app--diff-moderate &,
  .app--mode-decode.app--diff-hard & {
    .keyboard__row .key .morse-char {
      display: none;
    }
  }
}
