.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .modal & {
    flex: 1;
    gap: var(--side-padding);
    margin: 0 var(--side-padding) var(--side-padding);
  }
}

.menu-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  h3 {
    color: var(--K400);

    &,
    span {
      font-size: 36px;
      font-weight: 100;
      text-transform: uppercase;
    }
    span {
      color: var(--accent);
    }
  }

  span,
  a {
    font-size: 12px;
    font-weight: 600;
  }

  span {
    color: var(--K600);
  }
  a {
    color: var(--K300);

    &:hover {
      color: var(--link-hover);
    }
  }
}

.menu-links {
  $gap: 12px;

  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  flex: 1;

  .home & {
    max-height: 250px;
  }
  .modal & {
    max-height: 300px;
    margin: auto 0;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc((100% - $gap) / 2);
    gap: 12px;

    border-radius: 8px;
    background: var(--K875);
    box-shadow:
      inset 0 0 6px 2px rgba(var(--K200-rgb), 0.16),
      inset 0 0 32px rgba(var(--K400-rgb), 0.12),
      1px 2px 12px rgba(var(--K950-rgb), 0.6);

    svg {
      width: 48px;
      height: 48px;
      fill: var(--accent);
      filter: drop-shadow(0 0 8px rgba(var(--accent-rgb), 0.5));
    }
    span {
      display: flex;
      gap: 6px;

      font-size: 18px;
      font-weight: 700;
      color: var(--K100);
      text-transform: uppercase;
    }

    .home & {
      @media (max-height: 600px) {
        gap: 8px;

        svg {
          width: 38px;
          height: 38px;
        }
        span {
          font-size: 16px;
        }
      }
    }

    &:hover {
      background: var(--K800);

      svg {
        fill: var(--accent);
      }
    }
  }
}

.secondary-menu-links {
  display: flex;
  gap: 12px;

  .btn {
    flex-direction: column;
    border-radius: 8px;
    padding: 10px 0;
    height: auto;
    gap: 2px;
  }
}
