.message-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin: auto 0;
}

.message {
  $side-margin: 40px;
  $letter-height: 40px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  min-height: 94px;

  padding: 30px 20px 0 20px;

  border-radius: 12px;
  background: var(--K100);
  box-shadow: 1px 2px 8px rgba(var(--K600-rgb), 0.12),
    2px 4px 32px rgba(var(--K600-rgb), 0.16),
    inset 2px 4px 16px rgba(var(--K600-rgb), 0.1);

  &__letters {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  &__letter {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 26px;
    height: $letter-height;
    margin-bottom: 20px;

    span:nth-child(1) {
      height: 20px;
      font-size: 20px;
      font-weight: 700;
    }
    span:nth-child(2) {
      height: 14px;
      font-size: 14px;
      font-weight: 500;
      color: var(--K500);
    }

    &--word-break {
      color: var(--K300);
      font-weight: 300;
    }
  }

  .buffer {
    $dot-width: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: $letter-height;
    gap: calc($dot-width / 2);

    .buffer-display {
      display: flex;
      height: $dot-width;

      border-radius: calc($dot-width / 2);
      background: var(--K800);

      &--dot {
        width: $dot-width;
      }
      &--dash {
        width: $dot-width * 2.4;
      }
    }
  }
}

.edit-message {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  gap: 10px;
  margin-left: auto;
}
