@use "../css/mixins.scss";

.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background: rgba(var(--K900-rgb), 0.75);
  backdrop-filter: blur(10px);

  &__header {
    display: flex;
    padding: var(--modal-padding);

    span {
      width: 100%;

      font-size: 20px;
      font-weight: 800;
      line-height: 32px;
      color: var(--K600);
    }

    button {
      position: absolute;
      top: var(--modal-padding);
      right: var(--modal-padding);

      svg {
        width: 32px;
        height: 32px;
        fill: var(--link);
      }

      &:hover svg {
        fill: var(--link-hover);
      }
    }
  }
  &__content {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
}
