@use "../css/mixins.scss";

.modal {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;

  background: rgba(var(--K950-rgb), 0.8);
  backdrop-filter: blur(10px);

  &__header {
    display: flex;
    padding: 20px;

    span {
      width: 100%;

      font-size: 20px;
      font-weight: 900;
      line-height: 32px;
      text-align: center;
    }

    button {
      position: absolute;
      top: 20px;
      right: 20px;

      svg {
        width: 32px;
        height: 32px;
        fill: var(--link);
      }
    }
  }
  &__content {
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
  }
}
