.morse-keys {
  $bar-height: 14px;

  display: flex;
  flex-direction: column;
  gap: var(--quiz-bottom-gap);

  &__top {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 0 32px;
    height: 50px;

    &__change {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      span {
        padding: 0 6px;

        font-size: 13px;
        padding-left: 7px;
        font-weight: 600;

        &:first-child {
          color: rgba(var(--text-rgb), 0.3);
        }
        &:last-child {
          padding-top: 2%;
          padding-bottom: 2px;
          color: rgba(var(--text-rgb), 0.7);
        }
      }

      &:not(:disabled) {
        &:hover,
        &:active {
          span:last-child {
            color: rgba(var(--text-rgb), 0.7);
          }
        }
      }
    }

    &__morse-queue {
      position: relative;
      display: flex;
      flex: 1;
      gap: var(--dit-xl);
      min-height: var(--dit-xl);

      > .morse-char {
        position: relative;
        z-index: 2;
      }

      .morse-hint {
        opacity: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        .morse-char {
          .dit-dah {
            background: rgba(var(--text-rgb), 0.32);
          }
        }

        // ========== Send ========== //
        // Easy
        .app--hints-on.app--mode-send & {
          animation: 4s fade-in linear forwards;
        }

        // Moderate
        .app--hints-delayed.app--mode-send & {
          animation: 4s fade-in linear forwards;
          animation-delay: 5s;
        }

        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
    }
  }

  &__keys {
    display: flex;
    gap: 12px;

    .morse-keys--no-hint & {
      display: none;
    }
  }

  .morse-key {
    // Important! Without it, tap and dragging the button
    // prevents onPointerUp from triggering!
    touch-action: none;

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--morse-key-height);

    border-radius: calc(var(--morse-key-height) * 2);
    background: rgba(var(--text-rgb), 0.4);

    user-select: none;

    svg {
      width: 24px;
      height: 24px;

      fill: rgba(var(--text-rgb), 0.8);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &--straight {
      flex: 1;

      background: rgba(var(--text-rgb), 0.3);

      font-size: 16px;
      font-weight: 500;
      color: rgba(var(--black-rgb), 0.6);

      &:not(:disabled) {
        &.morse-key--pressed,
        &:active {
          background: rgba(var(--accent-btn-rgb), 0.5);
        }
      }
    }

    &--dit {
      flex: 1;

      background: rgba(var(--dit-rgb), 0.15);

      color: var(--dit);

      div {
        width: calc($bar-height);
        height: calc($bar-height);

        border-radius: calc($bar-height / 2);
        background: var(--dit);
      }

      &:not(:disabled) {
        &.morse-key--pressed,
        &:active {
          background: rgba(var(--dit-rgb), 0.4);
        }
      }
    }
    &--dah {
      flex: 1;

      background: rgba(var(--dah-rgb), 0.2);

      color: var(--dah);

      div {
        width: calc($bar-height * 3);
        height: calc($bar-height);

        border-radius: calc($bar-height / 2);
        background: var(--dah);
      }

      &:not(:disabled) {
        &.morse-key--pressed,
        &:active {
          background: rgba(var(--dah-rgb), 0.5);
        }
      }
    }
  }
}

.key-selector-modal-mask {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background: linear-gradient(
    to bottom,
    rgba(var(--background-main-rgb), 0.2) 0%,
    rgba(var(--background-main-rgb), 0.6) 70%,
    rgba(var(--background-main-rgb), 0.8) 100%
  );
  backdrop-filter: blur(10px);
}
.key-selector-modal {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;

  .setting {
    position: relative;
    z-index: 2;
    gap: var(--side-padding);
    padding: var(--side-padding);

    &__left {
      gap: 16px;

      &__top {
        padding: 0 6px;
      }
    }
  }
}
