.morse-keys {
  $bar-height: 18px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  &__queue {
    display: flex;
    align-items: center;
    padding: 8px;

    border-radius: 12px;
    background: var(--K950);

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 100%;
      gap: 6px;

      border-radius: 12px;

      svg {
        width: 24px;
        height: 24px;
      }

      &:first-child {
        svg {
          fill: var(--K600);
        }
      }
      &:last-child {
        background: var(--K850);

        span {
          color: var(--K300);
        }
        svg {
          fill: var(--K300);
        }
      }

      &:not(:disabled):hover {
        background: var(--K700);

        span {
          color: var(--K100);
        }
        svg {
          fill: var(--K100);
        }
      }

      &:disabled {
        cursor: not-allowed;
        background: transparent;

        span {
          color: var(--K800);
        }
        svg {
          fill: var(--K800);
        }
      }
    }

    &__preview {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 1;
      height: 60px;
      padding: 0 22px;

      &__morse {
        position: relative;
        display: flex;
        flex: 1;
        gap: var(--dit-xl);
        min-height: var(--dit-xl);

        > .morse-char {
          position: relative;
          z-index: 2;
        }

        .morse-hint {
          opacity: 0;
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;

          .morse-char {
            .dit-dah {
              background: var(--K800);
            }
          }

          // ========== Send ========== //
          // Easy
          .app--diff-easy.app--mode-send & {
            animation: 4s fade-in linear forwards;
            animation-delay: 2s;
          }

          // Moderate
          .app--diff-moderate.app--mode-send & {
            animation: 6s fade-in linear forwards;
            animation-delay: 6s;
          }

          @keyframes fade-in {
            from {
              opacity: 0;
            }
            to {
              opacity: 1;
            }
          }
        }
      }
      &__match {
        display: flex;
        align-items: center;

        font-size: 38px;
        font-weight: 700;
        color: var(--K600);
        line-height: 1;
        text-align: right;

        // Hide "Invalid" message
        // There may be a valid character after more dits/dahs.
        &--invalid {
          font-size: 0;
        }
      }
    }
  }

  &__select {
    display: flex;
    gap: 12px;
    width: 100%;
    height: var(--morse-key-height);
    padding: 8px;

    border-radius: 12px;
    background: rgba(var(--K200-rgb), 0.2);

    .btn {
      flex: 1;
      height: 100%;

      border-radius: 8px;

      font-size: 16px;
      font-weight: 700;
    }
  }

  &__keys {
    display: flex;
    gap: 12px;
  }

  .morse-key {
    // Important! Without it, tap and dragging the button
    // prevents onPointerUp from triggering!
    touch-action: none;

    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--morse-key-height);

    border-radius: calc(var(--morse-key-height) * 2);
    background: var(--K600);

    user-select: none;

    svg {
      width: 24px;
      height: 24px;

      fill: var(--K200);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }

    &--select {
      flex-direction: column;
      gap: 8px;
      padding: 4px 10px 0;

      border-radius: 6px;
      background: var(--K850);

      span {
        writing-mode: vertical-rl;
        transform: rotate(180deg);

        font-size: 13px;
        font-weight: 700;
        color: var(--K200);
        line-height: 1.2;
      }

      svg {
        width: 18px;
        height: 18px;
      }

      &:not(:disabled):hover {
        background: rgba(var(--K200-rgb), 0.4);
      }
    }

    &--straight {
      flex: 1;

      background: var(--K700);
      box-shadow:
        inset 0 0 20px rgba(var(--K100-rgb), 0.2),
        0 0 0 rgba(var(--K200-rgb), 0.2);

      font-size: 18px;
      color: var(--K900);

      &:not(:disabled) {
        &.morse-key--pressed,
        &:hover,
        &:active {
          background: var(--K500);
          box-shadow:
            inset 0 0 20px rgba(var(--K100-rgb), 0.3),
            0 0 12px rgba(var(--K200-rgb), 0.6);
        }
      }
    }

    &--dit {
      flex: 1;

      background: rgba(var(--dit-rgb), 0.15);
      box-shadow:
        inset 0 0 20px rgba(var(--dit-rgb), 0.2),
        0 0 0 rgba(var(--dit-rgb), 0.2);

      color: var(--dit);

      div {
        width: calc($bar-height);
        height: calc($bar-height);

        border-radius: calc($bar-height / 2);
        background: var(--dit);
      }

      &:not(:disabled) {
        &.morse-key--pressed,
        &:active,
        &:hover {
          background: rgba(var(--dit-rgb), 0.4);
          box-shadow:
            inset 0 0 20px rgba(var(--dit-rgb), 0.3),
            0 0 12px rgba(var(--dit-rgb), 0.6);
        }
      }
    }
    &--dah {
      flex: 1;

      background: rgba(var(--dah-rgb), 0.2);
      box-shadow:
        inset 0 0 20px rgba(var(--dah-rgb), 0.3),
        0 0 0 rgba(var(--dah-rgb), 0.2);

      color: var(--dah);

      div {
        width: calc($bar-height * 3);
        height: calc($bar-height);

        border-radius: calc($bar-height / 2);
        background: var(--dah);
      }

      &:not(:disabled) {
        &.morse-key--pressed,
        &:active,
        &:hover {
          background: rgba(var(--dah-rgb), 0.5);
          box-shadow:
            inset 0 0 20px rgba(var(--dah-rgb), 0.3),
            0 0 12px rgba(var(--dah-rgb), 0.7);
        }
      }
    }
  }
}

.key-selector-modal {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;

  background: rgba(var(--K950-rgb), 0.6);
  backdrop-filter: blur(10px);

  .setting {
    gap: var(--modal-padding);
    padding: var(--modal-padding);

    border-radius: unset;
    background: unset;
  }
}
