.receive {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;

  select {
    margin-bottom: 8px;
  }

  textarea {
    height: 100px;
    margin-bottom: 40px;
  }

  button {
    width: 60px;
    height: 60px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
  }
}
