@use "../css/mixins.scss" as *;

.receive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;

  &__menu {
    padding: 0 var(--side-padding);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 20px var(--side-padding);
    gap: var(--side-padding);
    min-height: 0; // prevents overflow!

    &__buttons {
      display: flex;
      gap: 12px;
    }

    &__word {
      @include scrollbar-mixin;
      overflow-y: auto;

      display: flex;
      align-items: center;
      justify-content: center;
      flex: 1;
      gap: 4px;
    }
  }
}
