.keyboard {
  $key-width: 60px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  &__row {
    display: flex;
    gap: 8px;

    &:nth-child(2) {
      padding-left: calc($key-width * 0.3);
    }
    &:nth-child(3) {
      padding-left: calc($key-width * 0.9);
    }

    .key {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      width: $key-width;
      height: $key-width;
      gap: 2px;

      border-radius: 12px;
      background: var(--K100);

      span:nth-child(1) {
        width: 14px;
        font-size: 22px;
        text-align: center;
        font-weight: 700;
      }
      span:nth-child(2) {
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
}
