@use "../css/media.scss";
@use "../css/mixins.scss" as *;

.settings {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    @include scrollbar-mixin;
    position: relative;
    z-index: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0 var(--side-padding) calc(var(--side-padding) * 1.5);

    &__toggles {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__buttons {
      position: relative;
      z-index: 2;
      display: flex;
      gap: 12px;

      button {
        flex: 1;
      }
    }
  }
}

.setting {
  display: flex;
  align-items: center;
  gap: 20px;

  &--slider {
    gap: 16px;
  }
  &--buttons {
    gap: 6px;
  }

  .setting-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2px;
    text-align: left;

    span {
      font-size: 17px;
      font-weight: 700;
      color: var(--K200);

      &:not(:first-child) {
        font-size: 13px;
        color: var(--K600);
      }
    }
  }
  &--toggle .setting-title {
    span {
      font-size: 14px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;

    &__top {
      display: flex;
      align-items: center;
      gap: 8px;
      min-height: 32px;

      &__title {
        flex: 1;
      }
      &__hint {
        font-size: 13px;
        font-weight: 500;
        color: var(--K500);
      }

      .setting-close-btn {
        svg {
          width: 32px;
          height: 32px;
          fill: var(--link);
        }

        &:hover svg {
          fill: var(--link-hover);
        }
      }

      .reset-btn {
        margin-right: 4px;
        color: var(--link);

        &:not(:disabled):hover {
          color: var(--link-hover);
        }
        &:disabled {
          color: var(--K700);
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1;

      &__value {
        margin-top: -6px;
        min-width: 50px;

        font-weight: 700;
        font-size: 17px;
        color: var(--accent);
        text-shadow: 0 0 8px rgba(var(--accent-rgb), 0.5);
      }

      input[type="range"] {
        flex: 1;
        width: 100%;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .setting-btn {
      display: flex;
      padding: 6px;

      border-radius: 4px;
      background: var(--K850);

      svg {
        width: 20px;
        height: 20px;
        fill: var(--K200);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }
    }

    .setting-toggle {
      $height: 24px;
      $padding: 4px;
      $transition: 0.3s ease all;

      transition: $transition;
      position: relative;
      display: flex;
      width: calc($height * 2);
      height: $height;
      padding: $padding;

      border-radius: calc($height / 2);

      &__plate {
        transition: $transition;
        position: absolute;
        top: $padding;
        left: $padding;

        width: calc($height - $padding * 2);
        height: calc($height - $padding * 2);

        border-radius: 50%;
        box-shadow: 0 1px 6px rgba(var(--K950-rgb), 0.2);
      }

      &--off {
        background: var(--K800);

        .setting-toggle__plate {
          background: var(--K400);
        }
      }
      &--on {
        background: var(--accent);

        .setting-toggle__plate {
          left: calc(100% - $height + $padding);
          background: var(--white);
        }
      }
    }
  }
}
