@use "../css/media.scss";
@use "../css/mixins.scss" as *;

.settings {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;

  &__buttons {
    display: flex;
    gap: 12px;
    padding: 0 var(--modal-padding);
  }

  &__content {
    @include scrollbar-mixin;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: var(--modal-padding);
  }

  &__details {
    $details-col: var(--K500);

    display: flex;
    padding: 20px 0;
    gap: 16px;

    color: $details-col;
    line-height: 1.2;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;

      &.flex {
        flex: 1;
      }
    }

    .setting-example {
      $height: 14px;

      display: flex;
      height: $height;

      border-radius: calc($height / 2);
      background: $details-col;

      &--dit {
        width: $height;
      }
      &--dah {
        width: calc($height * 3);
      }
    }
  }
}

.setting {
  display: flex;
  flex-direction: column;

  &--slider {
    gap: 16px;
  }
  &--buttons {
    gap: 6px;
  }

  &__top {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 32px;

    &__title {
      flex: 1;

      font-size: 17px;
      font-weight: 700;
    }
    &__hint {
      font-size: 13px;
      font-weight: 500;
      color: var(--K500);
    }

    .setting-close-btn {
      svg {
        width: 32px;
        height: 32px;
        fill: var(--link);
      }

      &:hover svg {
        fill: var(--link-hover);
      }
    }

    .reset-btn {
      margin-right: 4px;
      color: var(--link);

      &:not(:disabled):hover {
        color: var(--link-hover);
      }
      &:disabled {
        color: var(--K700);
      }
    }

    .setting-btn {
      display: flex;
      padding: 4px;

      border-radius: 4px;
      background: var(--K850);

      svg {
        width: 24px;
        height: 24px;
        fill: var(--K100);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.3;
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;

    &__value {
      margin-top: -6px;
      min-width: 50px;

      font-weight: 700;
      font-size: 17px;
      color: var(--accent);
      text-shadow: 0 0 8px rgba(var(--accent-rgb), 0.6);
    }

    input[type="range"] {
      flex: 1;
      width: 100%;
    }
  }

  &__radios {
    display: flex;
    padding: 6px;

    border-radius: 8px;
    background: var(--K850);

    button {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      flex: 1;

      border-radius: 4px;

      &.not-selected:hover {
        background: var(--K700);
      }
    }

    &--horizontal {
      button {
        padding: 8px;

        span {
          font-size: 14px;
          font-weight: 600;
          color: var(--K500);
        }

        &.selected {
          background: var(--K200);

          span {
            color: var(--K800);
          }
        }
      }
    }
    &--vertical {
      flex-direction: column;

      button {
        align-items: flex-start;
        gap: 2px;
        padding: 10px 12px;

        text-align: left;

        span:first-child {
          font-size: 16px;
          font-weight: 700;
          color: var(--K200);
        }
        span:last-child {
          font-size: 13px;
          font-weight: 500;
          color: var(--K500);
        }

        &.selected {
          background: var(--K200);

          span:first-child,
          span:last-child {
            color: var(--K800);
          }
        }
      }
    }
  }
}
