@use "../css/media.scss";
@use "../css/mixins.scss" as *;

.settings {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  &__buttons {
    display: flex;
    gap: 12px;
    padding: 0 20px;
  }

  &__content {
    @include scrollbar-mixin;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .setting {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;

    border-radius: 20px;
    background: var(--K850);

    &__title {
      font-size: 18px;
      font-weight: 700;
    }

    &__input {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1;

      input[type="range"] {
        flex: 1;
        width: 100%;
      }

      .reset-btn {
        color: var(--link);

        &:hover {
          color: var(--link-hover);
        }
      }

      &__unit {
        min-width: 50px;
        color: var(--accent);
        text-align: right;
      }
    }

    &__radios {
      display: flex;
      padding: 6px;

      border-radius: 8px;
      background: var(--K800);

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 42px;
        flex: 1;

        border-radius: 4px;

        color: var(--K200);
        font-weight: 700;

        &.selected {
          background: var(--K200);
          color: var(--K800);
        }
        &.not-selected:hover {
          background: var(--K700);
        }
      }
    }

    &__details {
      $details-col: var(--K500);

      display: flex;
      gap: 16px;

      color: $details-col;
      line-height: 1.2;

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &.flex {
          flex: 1;
        }
      }

      .setting-example {
        $height: 14px;

        display: flex;
        height: $height;

        border-radius: calc($height / 2);
        background: $details-col;

        &--dit {
          width: $height;
        }
        &--dah {
          width: calc($height * 3);
        }
      }
    }
  }
}
