@use "../css/media.scss";
@use "../css/mixins.scss" as *;

.settings {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    @include scrollbar-mixin;
    position: relative;
    z-index: 1;
    overflow-y: auto;

    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px var(--side-padding) 30px;

    &__toggles {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &__theme {
      display: flex;
      justify-content: space-between;
    }

    &__wpm {
      display: flex;
      align-items: center;

      gap: 12px;

      &__text {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        flex: 1;
      }

      .btn {
        width: 130px;
        flex-grow: 0;
      }
    }

    &__buttons {
      position: relative;
      z-index: 2;
      display: flex;

      .btn {
        flex: 1;
      }
    }
  }
}

.setting {
  display: flex;
  align-items: center;
  gap: 20px;

  &--slider {
    gap: 16px;
  }
  &--buttons {
    gap: 6px;
  }

  .setting-title {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2px;
    text-align: left;

    span {
      font-size: 17px;
      font-weight: 700;
      color: rgba(var(--text-rgb), 1);

      &:not(:first-child) {
        font-size: 13px;
        font-weight: 400;
        color: rgba(var(--text-rgb), 0.7);
      }
    }
  }
  &--toggle {
    padding: 4px 0;
  }

  &__left {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 4px;

    &__top {
      display: flex;
      align-items: center;
      gap: 8px;
      min-height: 32px;

      &__title {
        flex: 1;
      }
      &__hint {
        font-size: 13px;
        font-weight: 500;
        color: rgba(var(--text-rgb), 0.5);
      }

      .setting-close-btn {
        svg {
          width: 32px;
          height: 32px;
          fill: rgba(var(--text-rgb), 0.6);
        }

        &:hover svg {
          fill: var(--accent-btn-hover);
        }
      }

      .reset-btn {
        margin-right: 4px;
        color: var(--accent-input);

        &:not(:disabled):hover {
          color: var(--accent-input-hover);
        }
        &:disabled {
          color: rgba(var(--text-rgb), 0.3);
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      gap: 20px;
      flex: 1;

      &__value {
        margin-top: -6px;
        min-width: 50px;

        font-weight: 700;
        font-size: 17px;
        color: var(--accent-input);
      }

      input[type="range"] {
        flex: 1;
        width: 100%;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .setting-toggle {
      $height: 24px;
      $padding: 4px;
      $transition: 0.3s ease all;

      transition: $transition;
      position: relative;
      display: flex;
      width: calc($height * 2);
      height: $height;
      padding: $padding;

      border-radius: calc($height / 2);

      &__plate {
        transition: $transition;
        position: absolute;
        top: $padding;
        left: $padding;

        width: calc($height - $padding * 2);
        height: calc($height - $padding * 2);

        border-radius: 50%;
      }

      &--off {
        background: rgba(var(--text-rgb), 0.2);

        .setting-toggle__plate {
          background: rgba(var(--text-rgb), 0.6);
          box-shadow: 0 0 0 0 rgba(var(--background-main-rgb), 0);
        }
      }
      &--on {
        background: var(--accent-btn);

        .setting-toggle__plate {
          left: calc(100% - $height + $padding);
          background: rgba(var(--white-rgb), 1);
          box-shadow: 0 0 0 1px rgba(var(--black-rgb), 0.4);
        }
      }
    }
  }

  &--hints {
    .setting__left {
      flex-direction: row;

      &__top {
        flex: 1;
      }

      .button-menu {
        width: auto;

        .btn-menu-item {
          flex: unset;
        }
      }
    }
  }
}
