@import "./../css/media.scss";

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;

  &__buffer {
    $dot-width: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc($dot-width / 2);
    width: 100%;
    min-height: $dot-width;
    margin: 12px 0;

    .buffer-display {
      display: flex;
      height: $dot-width;

      border-radius: calc($dot-width / 2);
      background: var(--K800);

      &--dot {
        width: $dot-width;
      }
      &--dash {
        width: calc($dot-width * 2.4);
      }
    }
  }

  // Telegraph Key
  &__tkey {
    width: 100px;
    height: 100px;
  }
}
