@import "./../css/media.scss";

.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;

  &__buffer {
    $dot-width: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc($dot-width / 2);
    width: 100%;
    min-height: $dot-width;
    margin: 12px 0;

    .buffer-display {
      display: flex;
      height: $dot-width;

      border-radius: calc($dot-width / 2);
      background: var(--K800);

      &--dot {
        width: $dot-width;
      }
      &--dash {
        width: calc($dot-width * 2.4);
      }
    }
  }

  // Telegraph Key
  &__tkey {
    $btn-height: 50px;

    cursor: pointer;
    transition: 0.1s ease background-color;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: $btn-height;

    border-radius: 50%;

    width: calc($btn-height * 2);
    height: calc($btn-height * 2);

    background: var(--K800);
    box-shadow: 1px 2px 8px rgba(var(--K900-rgb), 0.3),
      2px 4px 20px rgba(var(--K900-rgb), 0.3),
      inset 0 0 30px rgba(var(--K100-rgb), 0.3);

    color: var(--white);

    &:hover,
    &:active {
      background: var(--K900);
    }
    &:active {
      background: var(--K700);
    }
  }
}
