.translate {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: auto;
  padding: 20px;
  gap: 20px;

  &--reverse {
    flex-direction: column-reverse;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    gap: 12px;

    h3 {
      flex: 1;
      font-size: 18px;
      font-weight: 700;
    }
  }

  textarea + .translate__header {
    margin-top: 40px;
  }

  &__morse {
    font-family: var(--font-mono);
    font-weight: 600;
  }
}
