.word {
  $word-height: 80px;
  $word-width: 64px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 4px;

  .slash {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: $word-height;
    min-width: $word-width;

    font-size: 32px;
    font-weight: 700;
    color: var(--K800);
  }

  .letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    min-width: $word-width;
    min-height: $word-height;

    border-radius: 6px;
    background: var(--K950);

    &__value {
      font-size: 32px;
      font-weight: 700;
      color: var(--K300);
      text-transform: uppercase;
    }

    &:disabled {
      cursor: not-allowed;
    }
    &:not(:disabled):hover {
      background: var(--K850);
    }

    &--current {
      transition-property: color;

      background: var(--K850);
      box-shadow: inset 0 0 0 2px var(--K300);

      .letter__value {
        color: var(--K100);
      }
    }
    &.letter--current.letter--incorrect {
      box-shadow: inset 0 0 0 2px var(--status-red);
    }

    &--correct {
      .letter__value {
        color: var(--status-green);
      }
    }
    &--incorrect {
      .letter__value {
        color: var(--status-red);
      }
    }
    &--empty {
      .letter__value {
        color: var(--K700);
      }
    }
  }

  // ========== Encode ========== //
  // Encode + Easy
  .app--diff-easy.app--mode-encode & {
    .letter {
      &--none,
      &--empty,
      &--incorrect {
        .letter__morse {
          opacity: 0;
        }
      }
      &--current {
        .letter__morse {
          animation: 4s fade-in linear forwards;
          animation-delay: 2s;
        }
      }
    }
  }

  // Encode + Moderate
  .app--diff-moderate.app--mode-encode & {
    .letter {
      &--none,
      &--empty,
      &--incorrect {
        .letter__morse {
          opacity: 0;
        }
      }
      &--current {
        .letter__morse {
          animation: 6s fade-in linear forwards;
          animation-delay: 4s;
        }
      }
    }
  }

  // Encode + Hard
  .app--diff-hard.app--mode-encode & {
    .letter {
      &--none,
      &--empty,
      &--incorrect,
      &--current {
        .letter__morse {
          opacity: 0;
        }
      }
    }
  }

  // ========== Decode ========== //
  // Decode + Easy
  .app--diff-easy.app--mode-decode & {
    .letter {
      &--none,
      &--empty {
        .letter__value {
          opacity: 0;
        }
      }
      &--current {
        .letter__value {
          opacity: 0;

          animation: 4s fade-in linear forwards;
          animation-delay: 3s;
        }
      }
      &--incorrect {
        .letter__value {
          opacity: 1;
          animation: unset;
        }
      }
    }
  }

  // Decode + Moderate
  .app--diff-moderate.app--mode-decode & {
    .letter {
      &--none,
      &--empty {
        .letter__value {
          opacity: 0;
        }
      }
      &--current {
        .letter__value {
          opacity: 0;

          animation: 5s fade-in linear forwards;
          animation-delay: 6s;
        }
      }
      &--incorrect {
        .letter__value {
          opacity: 1;
          animation: unset;
        }
      }
    }
  }

  // Decode + Hard
  .app--diff-hard.app--mode-decode & {
    .letter {
      &--empty {
        .letter__value {
          opacity: 0;
        }
        .letter__morse {
          opacity: 0;
        }
      }
      &--current {
        .letter__value {
          opacity: 0;
        }
      }
      &--incorrect {
        .letter__value {
          opacity: 1;
          animation: unset;
        }
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.morse-char {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  .dit-dah {
    &--dit {
      background: var(--dit);
    }
    &--dah {
      background: var(--dah);
    }
    &--in-progress {
      background: var(--K700);

      animation-name: in-progress;
      animation-timing-function: linear;
      transform-origin: center left;
    }
  }

  @keyframes in-progress {
    from {
      transform: scaleX(0.25);
    }
    to {
      transform: scaleX(1);
    }
  }

  @mixin morse-size($size) {
    gap: $size;

    .dit-dah {
      height: $size;
      border-radius: calc($size / 2);

      &--space,
      &--dit {
        width: $size;
      }
      &--dah {
        width: calc($size * 3);
      }
      &--in-progress {
        width: calc($size * 3);
      }
    }
  }

  &--sm {
    @include morse-size(var(--dit-sm));
  }
  &--md {
    @include morse-size(var(--dit-md));
  }
  &--lg {
    @include morse-size(var(--dit-lg));
  }
  &--xl {
    @include morse-size(var(--dit-xl));
  }
}
