.word {
  display: flex;
  flex-wrap: wrap;
  // important; ensures centering without needing justify-content: center
  // on parent container, which breaks when the content overflows
  margin: auto;

  .slash {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 700;
    color: var(--K800);
  }

  .letter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--K950);

    span {
      font-weight: 700;
      color: var(--K400);
      text-transform: uppercase;
    }

    &:disabled {
      cursor: not-allowed;
    }
    &:not(:disabled):hover {
      background: var(--K850);
    }

    &--empty {
      color: var(--K600);
    }

    &--current {
      transition-property: color;

      background: var(--K850);
      box-shadow: inset 0 0 0 2px var(--K300);

      span {
        color: var(--K100);
      }
    }
    &.letter--current.letter--incorrect {
      box-shadow: inset 0 0 0 2px var(--status-red);
    }

    &--correct {
      span {
        color: var(--status-green);
      }
    }
    &--incorrect {
      span {
        color: var(--status-red);
      }
    }
  }

  // Sizes
  @mixin size($size, $gap, $border-radius, $width, $height, $font-size) {
    &--size-#{$size} {
      gap: $gap;

      .letter,
      .slash {
        min-width: $width;
        min-height: $height;
        border-radius: $border-radius;

        &,
        span {
          font-size: $font-size;
        }
      }
    }
  }

  @include size("sm", 2px, 4px, 30px, 36px, 22px);
  @include size("md", 4px, 6px, 42px, 52px, 30px);
  @include size("lg", 8px, 10px, 80px, 100px, 50px);

  // ========== Decode ========== //
  // Decode + Easy
  .app--diff-easy.app--mode-decode & {
    .letter {
      &--none,
      &--empty {
        span {
          opacity: 0;
        }
      }
      &--current {
        span {
          opacity: 0;

          animation: 4s fade-in linear forwards;
          animation-delay: 3s;
        }
      }
      &--incorrect {
        span {
          opacity: 1;
          animation: unset;
        }
      }
    }
  }

  // Decode + Moderate
  .app--diff-moderate.app--mode-decode & {
    .letter {
      &--none,
      &--empty {
        span {
          opacity: 0;
        }
      }
      &--current {
        span {
          opacity: 0;

          animation: 5s fade-in linear forwards;
          animation-delay: 6s;
        }
      }
      &--incorrect {
        span {
          opacity: 1;
          animation: unset;
        }
      }
    }
  }

  // Decode + Hard
  .app--diff-hard.app--mode-decode & {
    .letter {
      &--empty {
        span {
          opacity: 0;
        }
      }
      &--current {
        span {
          opacity: 0;
        }
      }
      &--incorrect {
        span {
          opacity: 1;
          animation: unset;
        }
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
