@use "sass:color";

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "text": #dce1e6,
  "accent-inputs": #74c6d8,
  "accent-inputs-hover": #97d4e2,
  "accent-btn": #add7a5,
  "accent-btn-hover": #c2e1bc,
  "dit": #ffff4e,
  "dah": #74c6d8,
  "status-green": #74c6d8,
  "status-red": #fb755d,
  "background-main": #2f3841,
  "background-overlay": #1f242a,
);

@function hexToRGB($hex) {
  @return color.channel($hex, "red", $space: rgb),
    color.channel($hex, "green", $space: rgb),
    color.channel($hex, "blue", $space: rgb);
}
@function accentLightColor($color) {
  @return color.scale($color, $lightness: 40%, $saturation: 30%);
}
@function hoverColor($color) {
  @return color.scale($color, $lightness: 15%, $saturation: 60%);
}
@function bgLightColor($color) {
  @return color.scale($color, $lightness: 15%, $saturation: 7%);
}
@function bgOverlayColor($color) {
  @return color.scale($color, $lightness: -35%);
}
@function bgOverlayHoverColor($color) {
  @return color.scale($color, $lightness: -70%);
}
@function textColor($color) {
  @return color.scale($color, $lightness: 85%, $saturation: 20%);
}

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }
}

$themes: (
  "teal"
    (
      "background-main": #2f3841,
      "accent-btn": #add7a5,
      "accent-input": #74c6d8,
      "dit": #ffff4e,
      "dah": #74c6d8,
      "status-green": #74c6d8,
      "status-red": #fb755d,
    ),
  "antique"
    (
      "background-main": #303235,
      "accent-btn": #9bb7b5,
      "accent-input": #e3af7b,
      "dit": #f8b067,
      "dah": #b884e2,
      "status-green": #68dbb9,
      "status-red": #f3a992,
    ),
  "rose"
    (
      "background-main": #2f3841,
      "accent-btn": #b4e3ab,
      "accent-input": #ef9dab,
      "dit": #b4e3ab,
      "dah": #ef9dab,
      "status-green": #83e0a7,
      "status-red": #f17b99,
    ),
  "autumn"
    (
      "background-main": #2a3b42,
      "accent-btn": #da8c55,
      "accent-input": #b2e0bc,
      "dit": #b2e0bc,
      "dah": #da8c55,
      "status-green": #90daac,
      "status-red": #fb7d5d,
    ),
  "neon"
    (
      "background-main": #262c47,
      "accent-btn": #e2ff61,
      "accent-input": #ff6dca,
      "dit": #e2ff61,
      "dah": #ff6dca,
      "status-green": #3fddbb,
      "status-red": #fb5dac,
    ),
  "hifi"
    (
      "background-main": #272a2b,
      "accent-btn": #dfc38f,
      "accent-input": #79d3ad,
      "dit": #79d3ad,
      "dah": #f78778,
      "status-green": #79d3ad,
      "status-red": #f78778,
    ),
  "tropical"
    (
      "background-main": #2f343f,
      "accent-btn": #57ded7,
      "accent-input": #ffcb5c,
      "dit": #ffcb5c,
      "dah": #57ded7,
      "status-green": #3fdd93,
      "status-red": #ff4d79,
    ),
  "eggplant"
    (
      "background-main": #483b48,
      "accent-btn": #ffb34a,
      "accent-input": #d5ec9e,
      "dit": #d4f48a,
      "dah": #ffb34a,
      "status-green": #62e9c1,
      "status-red": #fd646b,
    ),
  "console"
    (
      "background-main": #2e3d3a,
      "accent-btn": #7edaaf,
      "accent-input": #7edaaf,
      "dit": #7edaaf,
      "dah": #6d8181,
      "status-green": #7edaaf,
      "status-red": #daa07e,
    ),
  "robot"
    (
      "background-main": #293541,
      "accent-btn": #ff8b4b,
      "accent-input": #77d8db,
      "dit": #77d8db,
      "dah": #ff8b4b,
      "status-green": #3fddae,
      "status-red": #f56033,
    )
);

.app--theme {
  @each $theme-name, $values in $themes {
    &-#{$theme-name} {
      @each $var, $color in $values {
        --#{$var}: #{$color};
        --#{$var}-rgb: #{hexToRGB($color)};

        @if ($var == "accent-btn" or $var == "accent-input") {
          --#{$var}-light: #{accentLightColor($color)};
          --#{$var}-light-rgb: #{hexToRGB(accentLightColor($color))};
          --#{$var}-hover: #{hoverColor($color)};
          --#{$var}-hover-rgb: #{hexToRGB(hoverColor($color))};
        }

        @if ($var == "background-main") {
          --background-light: #{bgLightColor($color)};
          --background-light-rgb: #{hexToRGB(bgLightColor($color))};
          --background-overlay: #{bgOverlayColor($color)};
          --background-overlay-rgb: #{hexToRGB(bgOverlayColor($color))};
          --background-overlay-hover: #{bgOverlayHoverColor($color)};
          --background-overlay-hover-rgb: #{hexToRGB(
              bgOverlayHoverColor($color)
            )};

          --text: #{textColor($color)};
          --text-rgb: #{hexToRGB(textColor($color))};
        }
      }
    }
  }
}
