@use "sass:color";

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "text": #ffffff,
  "accent-inputs": #f37c3c,
  "accent-inputs-hover": #da7842,
  "accent-light": #ffa573,
  "accent-btn": #f37c3c,
  "accent-btn-hover": #da7842,
  "dit": #ffff4e,
  "dah": #d06cff,
  "status-green": #3fdd93,
  "status-red": #fb5d5d,
  "background-main": #23292f,
  "background-overlay": #121518,
);

@function hexToRGB($hex) {
  @return color.channel($hex, "red", $space: rgb),
    color.channel($hex, "green", $space: rgb),
    color.channel($hex, "blue", $space: rgb);
}

@function hoverColor($color) {
  @return color.scale($color, $lightness: 25%);
}

@function bgOverlayColor($color) {
  @return color.scale($color, $lightness: -35%);
}
@function bgOverlayHoverColor($color) {
  @return color.scale($color, $lightness: -70%);
}

@function textColor($color) {
  @return color.scale($color, $lightness: 85%);
}

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }
}

$themes: (
  "teal"
    (
      "background-main": #2f3841,
      "accent-btn": #add7a5,
      "accent-input": #74c6d8,
    ),
  "neon"
    (
      "background-main": #262c47,
      "accent-btn": #e2ff61,
      "accent-input": #ff6dca,
    ),
  "robot"
    (
      "background-main": #23292f,
      "accent-btn": #ff8b4b,
      "accent-input": #77d8db,
    ),
  "rose"
    (
      "background-main": #2f3841,
      "accent-btn": #b4e3ab,
      "accent-input": #ef9dab,
    ),
  "matrix"
    (
      "background-main": #292929,
      "accent-btn": #62dd8e,
      "accent-input": #62dd8e,
    ),
  "antique"
    (
      "background-main": #303235,
      "accent-btn": #9bb7b5,
      "accent-input": #e3af7b,
    ),
  "monochrome"
    (
      "background-main": #333317,
      "accent-btn": #e5ffff,
      "accent-input": #e5ffff,
    ),
  "hifi"
    (
      "background-main": #272a2b,
      "accent-btn": #d3c590,
      "accent-input": #aae4d4,
    ),
  "autumn"
    (
      "background-main": #2a3b42,
      "accent-btn": #da8c55,
      "accent-input": #b2e0bc,
    ),
  "fruity"
    (
      "background-main": #483b48,
      "accent-btn": #ffb34a,
      "accent-input": #d4f48a,
    )
);

.app--theme {
  @each $theme-name, $values in $themes {
    &-#{$theme-name} {
      @each $var, $color in $values {
        --#{$var}: #{$color};
        --#{$var}-rgb: #{hexToRGB($color)};

        @if ($var == "accent-btn" or $var == "accent-input") {
          --#{$var}-hover: #{hoverColor($color)};
          --#{$var}-hover-rgb: #{hexToRGB(hoverColor($color))};
        }

        @if ($var == "background-main") {
          --background-overlay: #{bgOverlayColor($color)};
          --background-overlay-rgb: #{hexToRGB(bgOverlayColor($color))};
          --background-overlay-hover: #{bgOverlayHoverColor($color)};
          --background-overlay-hover-rgb: #{hexToRGB(
              bgOverlayHoverColor($color)
            )};

          --text: #{textColor($color)};
          --text-rgb: #{hexToRGB(textColor($color))};
        }
      }
    }
  }
}
