@use "sass:color";

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "text": #dce1e6,
  "accent-inputs": #74c6d8,
  "accent-inputs-hover": #97d4e2,
  "accent-btn": #add7a5,
  "accent-btn-hover": #c2e1bc,
  "dit": #ffff4e,
  "dah": #74c6d8,
  "status-green": #74c6d8,
  "status-red": #fb755d,
  "background-main": #2f3841,
  "background-overlay": #1f242a,
);

@function hexToRGB($hex) {
  @return color.channel($hex, "red", $space: rgb),
    color.channel($hex, "green", $space: rgb),
    color.channel($hex, "blue", $space: rgb);
}
@function accentLightColor($color) {
  @return color.scale($color, $lightness: 40%, $saturation: 30%);
}
@function hoverColor($color) {
  @return color.scale($color, $lightness: 15%, $saturation: 60%);
}
@function bgLightColor($color) {
  @return color.scale($color, $lightness: 15%);
}
@function bgOverlayColor($color) {
  @return color.scale($color, $lightness: -40%);
}
@function bgOverlayHoverColor($color) {
  @return color.scale($color, $lightness: -70%);
}
@function textColor($color) {
  @return color.scale($color, $lightness: 100%, $saturation: 50%);
}

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }
}

$themes: (
  "teal"
    (
      "background-main": #3c4d52,
      "accent-btn": #b1e2a8,
      "accent-input": #74cfe4,
      "dit": #ccf58a,
      "dah": #68afbe,
      "status-green": #74c6d8,
      "status-red": #fb755d,
    ),
  "antique"
    (
      "background-main": #52504c,
      "accent-btn": #b4d1d1,
      "accent-input": #f7cfa0,
      "dit": #f7cfa0,
      "dah": #b4d1d1,
      "status-green": #5fc2a4,
      "status-red": #f3a992,
    ),
  "rose"
    (
      "background-main": #3f504e,
      "accent-btn": #b4e3ab,
      "accent-input": #f17695,
      "dit": #b4e3ab,
      "dah": #ef9dab,
      "status-green": #83e0a7,
      "status-red": #f17b99,
    ),
  "autumn"
    (
      "background-main": #55514c,
      "accent-btn": #df925f,
      "accent-input": #dfee9f,
      "dit": #b2e0bc,
      "dah": #da8c55,
      "status-green": #90daac,
      "status-red": #fb7d5d,
    ),
  "neon"
    (
      "background-main": #2b3358,
      "accent-btn": #cfe66c,
      "accent-input": #fd64c5,
      "dit": #e2ff61,
      "dah": #ff6dca,
      "status-green": #3fddbb,
      "status-red": #fb5dac,
    ),
  "hifi"
    (
      "background-main": #454a4b,
      "accent-btn": #eedc8c,
      "accent-input": #95e6e0,
      "dit": #95e6e0,
      "dah": #f1bd81,
      "status-green": #79d3ad,
      "status-red": #f78778,
    ),
  "tropical"
    (
      "background-main": #394152,
      "accent-btn": #57ded7,
      "accent-input": #ffe054,
      "dit": #ffcb5c,
      "dah": #57ded7,
      "status-green": #3fdd93,
      "status-red": #ff4d79,
    ),
  "eggplant"
    (
      "background-main": #504450,
      "accent-btn": #ffb34a,
      "accent-input": #d2ec95,
      "dit": #d2ec95,
      "dah": #d89f4f,
      "status-green": #62e9c1,
      "status-red": #fd646b,
    ),
  "console"
    (
      "background-main": #343f39,
      "accent-btn": #7edaa7,
      "accent-input": #7edaa7,
      "dit": #7edaa7,
      "dah": #648874,
      "status-green": #7edaa7,
      "status-red": #7edaa7,
    ),
  "amethyst"
    (
      "background-main": #2f3e4d,
      "accent-btn": #72e3e7,
      "accent-input": #d466ff,
      "dit": #77d8db,
      "dah": #d466ff,
      "status-green": #3fddae,
      "status-red": #f56033,
    ),
  "coral"
    (
      "background-main": #3e5358,
      "accent-btn": #ee6d82,
      "accent-input": #8ae9f0,
      "dit": #5de4ee,
      "dah": #cc7685,
      "status-green": #4fcca6,
      "status-red": #f57a33,
    ),
  "galaxy"
    (
      "background-main": #343f49,
      "accent-btn": #21f0ff,
      "accent-input": #ff4382,
      "dit": #15c0eb,
      "dah": #da4672,
      "status-green": #2ef1b7,
      "status-red": #f53363,
    )
);

.app--theme {
  @each $theme-name, $values in $themes {
    &-#{$theme-name} {
      @each $var, $color in $values {
        --#{$var}: #{$color};
        --#{$var}-rgb: #{hexToRGB($color)};

        @if ($var == "accent-btn" or $var == "accent-input") {
          --#{$var}-light: #{accentLightColor($color)};
          --#{$var}-light-rgb: #{hexToRGB(accentLightColor($color))};
          --#{$var}-hover: #{hoverColor($color)};
          --#{$var}-hover-rgb: #{hexToRGB(hoverColor($color))};
        }

        @if ($var == "background-main") {
          --background-light: #{bgLightColor($color)};
          --background-light-rgb: #{hexToRGB(bgLightColor($color))};
          --background-overlay: #{bgOverlayColor($color)};
          --background-overlay-rgb: #{hexToRGB(bgOverlayColor($color))};
          --background-overlay-hover: #{bgOverlayHoverColor($color)};
          --background-overlay-hover-rgb: #{hexToRGB(
              bgOverlayHoverColor($color)
            )};

          --text: #{textColor($color)};
          --text-rgb: #{hexToRGB(textColor($color))};
        }
      }
    }
  }
}
