@use "../css/mixins.scss" as *;

textarea,
select,
input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px;

  margin: unset;
  border: unset;

  border-radius: var(--box-radius);
  background: var(--background-overlay);

  font-family: var(--font);
  font-size: 15px;
  color: rgba(var(--text-rgb), 1);
  text-transform: uppercase;

  &::placeholder {
    color: rgba(var(--text-rgb), 0.3);
  }

  &:disabled {
    background: rgba(var(--text-rgb), 0.08);
    box-shadow: unset;
  }

  &:not(:disabled) {
    &:hover,
    :active {
      transition: 0.2s ease all;
      transition-property: box-shadow;

      box-shadow: 0 0 12px 2px rgba(var(--accent-btn-rgb), 0.3);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba(var(--accent-btn-hover-rgb), 0.4);
    }
  }
}

textarea {
  @include scrollbar-mixin;

  resize: none;
  height: 120px;
}

// Slider
$slider-height: 18px;
$track-height: 2px;

input[type="range"] {
  pointer-events: none; // prevent changing slider on scrolling
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: $slider-height;
  background: unset;
}
input[type="range"]:focus {
  outline: none;
}

// Slider Track
@mixin track {
  cursor: pointer;
  width: 100%;
  height: $track-height;
  border-radius: calc($track-height / 2);
  background: rgba(var(--text-rgb), 0.2);
}
input[type="range"]::-webkit-slider-runnable-track {
  @include track;
}
input[type="range"]::-moz-range-track {
  @include track;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: rgba(var(--text-rgb), 0.2);
}

// Slider Thumb
@mixin thumb {
  pointer-events: all; // allow events on thumb only
  -webkit-appearance: none;
  cursor: pointer;
  transition: 0.25s ease background-color;
  position: relative;
  z-index: 2;
  height: $slider-height;
  width: $slider-height;
  margin-top: -(($slider-height - $track-height) * 0.5);

  border-radius: 50%;
  background: var(--accent-input);
  box-shadow: 0 0 8px rgba(var(--accent-rgb), 0.8);
}
input[type="range"]::-webkit-slider-thumb {
  @include thumb;
}
input[type="range"]::-moz-range-thumb {
  @include thumb;
}
input[type="range"]:where(:hover, :focus)::-webkit-slider-thumb {
  background: var(--accent-input);
}
