@use "../css/mixins.scss" as *;

textarea,
select,
input[type="text"],
input[type="number"] {
  transition: 0.2s ease all;
  transition-property: background-color, border-color, color, box-shadow;

  width: 100%;
  padding: 12px;

  margin: unset;
  border: unset;

  @include inset-black-box;

  font-family: var(--font);
  font-size: 16px;
  color: var(--K200);

  &::placeholder {
    color: var(--K700);
  }

  &:not(:disabled) {
    border-color: var(--K800);
    background: var(--K950);
  }
  &:disabled {
    background: var(--K900);
    border: 2px solid var(--K850);
    box-shadow: unset;
  }

  &:not(:disabled):hover,
  &:not(:disabled):active {
    border-color: var(--K400);
  }

  &:not(:disabled):focus {
    outline: none;
    border-color: var(--K400);
  }
}

textarea {
  @include scrollbar-mixin;

  resize: none;
  height: 120px;
}

// Slider
$slider-height: 18px;
$track-height: 2px;

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  width: 100%;
  height: $slider-height;
  background: unset;
}
input[type="range"]:focus {
  outline: none;
}

// Slider Track
@mixin track {
  cursor: pointer;
  width: 100%;
  height: $track-height;
  border-radius: calc($track-height / 2);
  background: var(--K800);
}
input[type="range"]::-webkit-slider-runnable-track {
  @include track;
}
input[type="range"]::-moz-range-track {
  @include track;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--K800);
}

// Slider Thumb
@mixin thumb {
  -webkit-appearance: none;
  cursor: pointer;
  transition: 0.25s ease background-color;
  position: relative;
  z-index: 2;
  height: $slider-height;
  width: $slider-height;
  margin-top: -(($slider-height - $track-height) * 0.5);

  border-radius: 50%;
  background: var(--accent);
  box-shadow: 0 0 8px rgba(var(--accent-rgb), 0.8);
}
input[type="range"]::-webkit-slider-thumb {
  @include thumb;
}
input[type="range"]::-moz-range-thumb {
  @include thumb;
}
input[type="range"]:where(:hover, :focus)::-webkit-slider-thumb {
  background: var(--accent);
}
