@use "./media.scss";
@use "./mixins.scss" as *;
@use "./inputs.scss";
@use "./colors.scss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
  --font: "JetBrains Mono", Courier, monospace;
  --font-mono: "JetBrains Mono", Courier, monospace;

  --max-content-width: 600px;
  --max-content-height: 900px;
  --max-quiz-settings-width: 300px;

  --header-height: 70px;

  --dit-sm: 2px;
  --dit-md: 3px;
  --dit-lg: 6px;
  --dit-xl: 10px;

  --side-padding: 22px;
  --quiz-bottom-gap: 12px;

  --box-radius: 12px;
  --morse-key-height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  user-select: none;
}

body {
  position: relative;
  margin: 0;
  height: 100%;

  color: rgba(var(--text-rgb), 0.8);
  line-height: 1;

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
}

body,
button,
a,
textarea,
input {
  font-family: var(--font);
  color: rgba(var(--text-rgb), 0.8);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin: 0 0 20px;
  font-weight: 500;

  b {
    font-weight: 700;
  }
}

p,
span {
  &.small-text {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
}

button {
  cursor: pointer;
  display: flex;
  background: unset;
  border: unset;
  padding: unset;
  margin: unset;

  font-size: 14px;

  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  &,
  span,
  svg {
    transition: 0.2s ease all;
  }

  svg {
    flex-shrink: 0;
  }

  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    gap: 8px;
    min-height: 48px;

    border-radius: 24px;

    &,
    span {
      color: rgba(var(--text-rgb), 0.7);
      font-weight: 550;
      text-transform: uppercase;
    }
    svg {
      width: 24px;
      height: 24px;
      fill: rgba(var(--text-rgb), 0.7);
    }

    &:not(:disabled) {
      &:active {
        span {
          color: rgba(var(--text-rgb), 0.9);
        }
        svg {
          fill: rgba(var(--text-rgb), 0.9);
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;

      span {
        color: rgba(var(--text-rgb), 0.5);
      }
      svg {
        fill: rgba(var(--text-rgb), 0.5);
      }
    }

    &--flex {
      flex-grow: 1;
    }

    &--outlined {
      min-width: 48px;
      border: 2px solid rgba(var(--text-rgb), 0.2);

      span {
        color: var(--accent-btn);
      }
      svg {
        fill: var(--accent-btn);
      }

      &:not(:disabled) {
        &:hover,
        &:active {
          background: rgba(var(--accent-btn-hover-rgb), 0.2);
          border-color: var(--accent-btn-hover);

          span {
            color: var(--accent-btn-hover);
          }
          svg {
            fill: var(--accent-btn-hover);
          }
        }
      }
    }

    &--full {
      background: rgba(var(--text-rgb), 0.2);

      &:not(:disabled) {
        &:hover,
        &:active {
          background: rgba(var(--text-rgb), 0.3);

          span {
            color: rgba(var(--text-rgb), 0.9);
          }
        }
      }
    }

    &--small {
      display: flex;
      min-width: 32px;
      min-height: 32px;
      padding: 0 6px;
      gap: 6px;

      border-radius: 6px;
      background: rgba(var(--text-rgb), 0.1);

      svg {
        width: 20px;
        height: 20px;
        fill: var(--accent-btn);
      }
      span {
        color: var(--accent-btn);
      }
      svg + span {
        padding-right: 4px;
      }

      &:not(:disabled) {
        &:active,
        &:hover {
          background: rgba(var(--text-rgb), 0.3);

          svg {
            fill: var(--accent-btn);
          }
        }
      }
    }

    &--large {
      height: var(--morse-key-height);

      border-radius: calc(var(--morse-key-height) / 2);
      background: rgba(var(--accent-btn-rgb), 0.9);

      svg {
        width: 38px;
        height: 38px;
        fill: rgba(var(--K950-rgb), 0.8);
      }

      > span {
        &,
        span {
          font-size: 18px;
          font-weight: 500;
          color: rgba(var(--black-rgb), 0.75);
        }

        span {
          font-weight: 800;
          text-transform: uppercase;
        }
      }

      &:hover {
        background: var(--accent-btn-hover);
      }
    }

    &--stop {
      &:not(:disabled) {
        background: rgba(var(--status-green-rgb), 0.2);

        &,
        &:hover,
        &:active {
          border-color: var(--status-green);

          span {
            color: var(--status-green);
          }
          svg {
            fill: var(--status-green);
          }
        }

        &:hover,
        &:active {
          background: rgba(var(--status-green-rgb), 0.4);
        }
      }
    }
  }
}

.button-menu {
  display: flex;
  width: 100%;
  padding: 6px;

  border-radius: var(--box-radius);
  background: var(--background-overlay);

  .btn-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 0 14px;
    height: 42px;

    border-radius: 6px;
    border: 2px solid transparent;

    font-size: 16px;
    color: rgba(var(--text-rgb), 0.9);
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;

    &--selected {
      border-color: var(--accent-input);
      background: rgba(var(--accent-input-rgb), 0.2);
      color: var(--accent-input);
    }
    &--not-selected:hover {
      background: rgba(var(--accent-input-rgb), 0.2);
      color: var(--accent-input);
    }
  }

  &--vertical {
    flex-direction: column;

    .btn-menu-item {
      flex-direction: column;
      gap: 6px;
      padding: 12px;

      font-size: 18px;

      span:first-child {
        font-size: 18px;
        font-weight: 700;
        color: rgba(var(--text-rgb), 0.8);
      }
      span:last-child {
        font-size: 13px;
        font-weight: 500;
        color: rgba(var(--text-rgb), 0.6);
        line-height: 1.2;
        text-transform: none;
      }

      &--selected {
        span:first-child,
        span:last-child {
          color: var(--accent-input);
        }
      }
    }
  }

  &--vertical-wrap {
    flex-direction: unset;
    flex-wrap: wrap;

    .btn-menu-item {
      width: 50%;
      flex: unset;
    }
  }
}

.table-wrap {
  overflow-x: auto;
}

table {
  display: table;
  overflow: auto;
  border-collapse: collapse;

  td {
    padding: 8px;
    border: 1px solid rgba(var(--K200-rgb), 0.2);
  }
}

#root {
  width: 100%;
  height: 100%;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  background: var(--background-main);

  .app-center {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: var(--max-content-width);
    max-height: var(--max-content-height);
  }
}

.main {
  overflow: hidden;

  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.beep-glow {
  position: relative;

  &:after {
    transition: 0.15s ease all;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 0 rgba(var(--K400-rgb), 0.1);
  }

  &.beep-glow--on:after {
    box-shadow: 0 0 14px rgba(var(--K200-rgb), 0.15);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
