@use "./media.scss";
@use "./mixins.scss" as *;
@use "./inputs.scss";
@use "sass:color";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

$theme-colors: (
  "black": #000000,
  "white": #ffffff,
  "K950": #121518,
  "K900": #23292f,
  "K875": #2c3238,
  "K850": #363c42,
  "K800": #494f55,
  "K700": #696f75,
  "K600": #83898f,
  "K500": #9da3a9,
  "K400": #b5bbc1,
  "K300": #cdd3d9,
  "K200": #dfe5eb,
  "K150": #e9eff5,
  "K100": #f6f8fb,
  "K075": #f8fafc,
  "K050": #fcfdfe,
  "K010": #fefefe,
  "accent-light": #ffa573,
  "accent": #f37c3c,
  "accent-hover": #da7842,
  "link": #4ad6ef,
  "link-hover": #baf5ff,
  "link-active": #20b7d2,
  "dit": #ffff4e,
  "dah": #d06cff,
  "status-green": #3fdd93,
  "status-red": #fb5d5d,
);

:root {
  // Generate hex/rgb CSS vars for default/rgba usage, respectively
  @function hexToRGB($hex) {
    @return color.channel($hex, "red", $space: rgb),
      color.channel($hex, "green", $space: rgb),
      color.channel($hex, "blue", $space: rgb);
  }
  @each $name, $color in $theme-colors {
    --#{$name}: #{$color};
    --#{$name}-rgb: #{hexToRGB($color)};
  }

  --font: "JetBrains Mono", Courier, monospace;
  --font-mono: "JetBrains Mono", Courier, monospace;

  --max-content-width: 700px;
  --max-content-height: 1000px;

  --dit-sm: 2px;
  --dit-md: 3px;
  --dit-lg: 6px;
  --dit-xl: 10px;

  --side-padding: 24px;
  --quiz-bottom-gap: 12px;

  --morse-key-height: 80px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  user-select: none;
}

body {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;

  background: var(--K900);

  color: var(--K200);
  line-height: 1;

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
}

body,
button,
a,
textarea,
input {
  font-family: var(--font);
  color: var(--K200);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: var(--font);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.3;
}

p {
  margin: 0 0 20px;
  font-weight: 500;

  b {
    font-weight: 700;
  }
}

p,
span {
  &.small-text {
    font-size: 13px;
  }
}

a {
  text-decoration: none;
  font-weight: 600;
}

button {
  cursor: pointer;
  display: flex;
  background: unset;
  border: unset;
  padding: unset;
  margin: unset;

  font-size: 14px;

  -webkit-tap-highlight-color: transparent;

  &:focus {
    outline: none;
  }

  &,
  span,
  svg {
    transition: 0.2s ease all;
  }

  svg {
    flex-shrink: 0;
  }

  &.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    gap: 8px;
    height: 48px;

    border-radius: 24px;

    span {
      color: var(--K300);
      font-weight: 550;
    }
    svg {
      fill: var(--K300);
    }

    &:not(:disabled) {
      &:active {
        span {
          color: var(--K100);
        }
        svg {
          fill: var(--K100);
        }
      }
    }

    &--outlined {
      border: 2px solid var(--K800);

      &:not(:disabled) {
        &:active {
          background: var(--K700);
          border-color: var(--K400);

          span {
            color: var(--K100);
          }
        }
      }
    }

    &--outlined-large {
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      height: var(--morse-key-height);
      flex-grow: 0;

      border-radius: calc(var(--morse-key-height) * 2);
      border-color: rgba(var(--accent-rgb), 0.3);

      font-size: 18px;
      color: var(--accent);
    }

    &--outlined-stop {
      &:not(:disabled) {
        background: rgba(var(--status-green-rgb), 0.2);

        &,
        &:hover,
        &:active {
          border: 2px solid var(--status-green);

          span {
            color: var(--status-green);
          }
          svg {
            fill: var(--status-green);
          }
        }

        &:hover,
        &:active {
          background: rgba(var(--status-green-rgb), 0.4);
        }
      }
    }

    &--full {
      background: var(--K800);

      &:not(:disabled) {
        &:hover,
        &:active {
          background: var(--K700);

          span {
            color: var(--K100);
          }
        }
      }
    }

    &--large-orange {
      height: var(--morse-key-height);

      border-radius: calc(var(--morse-key-height) / 2);
      background: rgba(var(--accent-rgb), 0.9);
      box-shadow:
        inset 0 0 2px 2px rgba(var(--accent-light-rgb), 1),
        inset 0 0 30px rgba(var(--accent-light-rgb), 1),
        0 0 0 rgba(var(--accent-rgb), 0.2);

      svg {
        width: 38px;
        height: 38px;
        fill: rgba(var(--K950-rgb), 0.8);
        filter: drop-shadow(0 0 6px rgba(var(--accent-light-rgb), 0.8));
      }

      > span {
        &,
        span {
          font-size: 20px;
          font-weight: 500;
          color: rgba(var(--K950-rgb), 0.8);
          text-shadow: 0 0 6px rgba(var(--accent-light-rgb), 0.6);
        }

        span {
          font-weight: 800;
          text-transform: uppercase;
        }
      }

      &:hover {
        background: var(--accent-light);
        box-shadow:
          inset 0 0 2px 2px rgba(var(--accent-light-rgb), 1),
          inset 0 0 30px rgba(var(--accent-light-rgb), 0.5),
          0 0 12px rgba(var(--accent-rgb), 0.7);
      }
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }
}

.button-menu {
  display: flex;
  width: 100%;
  padding: 6px;

  @include inset-black-box;

  .btn-menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 12px 4px;

    border-radius: 6px;

    font-size: 14px;
    color: var(--K400);
    font-weight: 600;
    line-height: 1;

    &--selected {
      background: var(--K300);
      color: var(--K950);
    }
    &--not-selected:hover {
      background: var(--K850);
      color: var(--K200);
    }
  }

  &--vertical {
    flex-direction: column;

    .btn-menu-item {
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;
      padding: 16px 12px;

      text-align: left;

      span:first-child {
        font-size: 18px;
        font-weight: 650;
        color: var(--K200);
      }
      span:last-child {
        font-size: 13px;
        font-weight: 500;
        color: var(--K600);
        line-height: 1.2;
      }

      &--selected {
        span:first-child,
        span:last-child {
          color: var(--K900);
        }
      }
    }
  }
}

.table-wrap {
  overflow-x: auto;
}

table {
  display: table;
  overflow: auto;
  border-collapse: collapse;

  td {
    padding: 8px;
    border: 1px solid rgba(var(--K200-rgb), 0.2);
  }
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-repeat: repeat;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: var(--max-content-width);
  max-height: var(--max-content-height);

  background: var(--K900);
}

.main {
  overflow: hidden;

  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex: 1;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}

.beep-glow {
  position: relative;

  &:after {
    transition: 0.15s ease all;
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    box-shadow: 0 0 0 rgba(var(--K400-rgb), 0.1);
  }

  &.beep-glow--on:after {
    box-shadow: 0 0 14px rgba(var(--K200-rgb), 0.15);
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
